@import './tailwind.css';
@import 'swiper/css';

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-amber-50);
}

* {
  ::selection {
    background-color: var(--color-yellow-200);
  }
}
