---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <Header />

  <section class="container mx-auto my-10 flex flex-col gap-5 px-5 lg:flex-row lg:items-center lg:px-0">
    <div class="flex-1/2">
      <h2 class="text-2xl leading-7 font-black text-red-800 lg:text-6xl lg:leading-14">
        Não dá para explicar, tem que experimentar
      </h2>
      <p class="mt-2 leading-5 lg:mt-5 lg:text-2xl lg:leading-7">
        Sabor, qualidade, suculência e tudo que você procura
      </p>
    </div>

    <div class="flex-1/3">
      <img src="/home/banner-01.png" alt="Não dá para explicar, tem que experimentar" />
    </div>
  </section>

  <section class="my-10 flex flex-col bg-yellow-500 px-5 py-10">
    <div>
      <h2 class="text-2xl leading-7 font-black text-red-800">Tudo fica mais gostoso com os alimentos Mimosa!</h2>
      <a
        class="mt-5 inline-block w-full rounded-md bg-red-800 px-10 py-3 text-center text-sm font-bold text-white"
        href="#"
        >Torne-se um cliente Mimosa
      </a>
    </div>
  </section>

  <Footer />
</Layout>
