---
import CardCaminhao from '@components/CardCaminhao';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <Header />

  <main class="container-center px-5 py-10 md:pb-20">
    <h1 class="title-page mb-10">Onde encontrar</h1>

    <CardCaminhao client:only showMap={true} />
  </main>

  <Footer />
</Layout>
