---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';

import ParallaxHandler from '@components/ParallaxHandler';
import ProdutosSlides from '@components/ProdutosSlide';
import { Title } from '@components/Title';
import type { ISlideProduto, ISlideProdutos } from '@interfaces/slide-produtos.interface';
import { SlideProdutosKey } from '@interfaces/slide-produtos.interface';
import { APP } from '@utils/app.contants';
import { MENU_ITEMS } from '@utils/menu.contants';

const response = await fetch(APP.BASE_URL + '/products/by-category');
const tiposLinguicas: ISlideProdutos = await response.json();
const slideLinguicaChurrasquita: ISlideProduto[] = tiposLinguicas[SlideProdutosKey.CHURRASQUITA];
const slideLinguicaQueijo: ISlideProduto[] = tiposLinguicas[SlideProdutosKey.COM_QUEIJO];
const slideLinguicas: ISlideProduto[] = tiposLinguicas[SlideProdutosKey.LINGUICA];
---

<Layout>
  <ParallaxHandler client:load />

  <Header />

  <section class="container-center px-5 py-10 md:pb-20">
    <Title
      title="Produtos"
      breadcrumbs={[
        {
          label: MENU_ITEMS.home.label,
          href: MENU_ITEMS.home.href,
        },
        {
          label: MENU_ITEMS.produtos.label,
          href: MENU_ITEMS.produtos.href,
        },
      ]}
    />

    <div class="parallax-container absolute top-5 right-0 z-10 w-100">
      <img id="parallax-folha-01" src="/paralax/folha-01.png" class="parallax-img w-full" />
    </div>

    <div class="relative z-60 mt-10 mb-5 flex flex-col gap-5 md:mt-15 md:mb-0 md:flex-row md:items-center lg:gap-10">
      <div class="parallax-container absolute top-5 left-0 z-60 w-100">
        <img id="parallax-pimenta-01" src="/paralax/pimenta-01.png" class="parallax-img w-full" />
      </div>

      <div class="mb-5 flex-1/2">
        <img src="/produtos/linguica.png" alt="Linguiça" />
      </div>

      <div class="flex-1/2">
        <h1 class="title">Conheça nossos produtos</h1>
        <p class="paragraph md:mt-3">
          A marca conta com um mix próprio de 20 itens, entre linguiça Toscana, Toscana com Queijo, linguiça fina na
          tripa de carneiro - a famosa churrasquita - e a linha Churrasco, além de também realizar o fracionamento de
          frios com certificação SISBI.
        </p>
      </div>
    </div>

    <div class="relative z-50 -mt-10 flex-initial">
      <ProdutosSlides
        client:visible
        config={{
          breakpoints: {
            0: {
              slidesPerView: 1,
            },
            640: {
              slidesPerView: 2,
            },
            768: {
              slidesPerView: 3,
            },
            1024: {
              slidesPerView: 4,
            },
            1366: {
              slidesPerView: 5,
            },
          },
        }}
        slideProdutos={slideLinguicas}
      />
    </div>
  </section>

  <section class="parallax-start-folha-02 relative flex flex-col bg-yellow-300 px-5 pb-10">
    <div class="parallax-container absolute -top-30 -left-10 z-60 w-100">
      <img id="parallax-pimenta-02" src="/paralax/pimenta-02.png" class="parallax-img w-full" />
    </div>

    <div class="parallax-container absolute -top-50 right-0 z-60 w-100">
      <img id="parallax-pimenta-03" src="/paralax/pimenta-01.png" class="parallax-img w-full" />
    </div>
    <div class="container-center">
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <div>
          <img class="mx-auto w-75 md:w-full" src="/produtos/linguica-queijo.png" alt="Linguiça com Queijo" />
        </div>

        <div class="my-auto">
          <h1 class="title md:mt-10">Linguiça com queijo</h1>
          <p class="paragraph mt-2">
            O ponto de equilíbrio entre duas grandes delícias da culinária. A fórmula precisamente calculada para
            garantir o sabor perfeito da mistura da linguiça com queijo.
          </p>

          <ProdutosSlides
            client:visible
            config={{
              breakpoints: {
                0: {
                  slidesPerView: 1,
                },
                640: {
                  slidesPerView: 2,
                },
              },
            }}
            slideProdutos={slideLinguicaQueijo}
          />
        </div>
      </div>
    </div>
  </section>

  <section class="container-center px-5 pb-10">
    <div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:[direction:rtl]">
      <div class="relative">
        <div class="parallax-container absolute -top-50 right-0 z-60 w-100">
          <img id="parallax-folha-02" src="/paralax/folha-02.png" class="parallax-img w-full" />
        </div>
        <div class="parallax-container absolute -top-50 right-70 z-60 w-100">
          <img id="parallax-pimenta-04" src="/paralax/pimenta-02.png" class="parallax-img w-full" />
        </div>
        <img class="mx-auto w-50 md:w-full" src="/produtos/linguica-churrasquita.png" alt="Linguiça Churrasquita" />
        <div
          class="absolute right-1 -bottom-0 flex h-35 w-35 scale-75 rotate-30 items-center justify-center rounded-full bg-red-800 md:right-20 md:-bottom-40 md:scale-130 lg:-bottom-30 lg:scale-160"
        >
          <p class="text-sm font-bold text-yellow-300 uppercase">A favorita <br />do público</p>
        </div>
      </div>
      <div class="my-auto text-left md:[direction:ltr]">
        <h1 class="title md:mt-10">Linguiças Churrasquita</h1>
        <p class="paragraph mt-2">A linguiça fininha, feita especialmente para quem aprecia um sabor especial.</p>

        <ProdutosSlides
          client:visible
          config={{
            breakpoints: {
              0: {
                slidesPerView: 1,
              },
              640: {
                slidesPerView: 2,
              },
            },
          }}
          slideProdutos={slideLinguicaChurrasquita}
        />
      </div>
    </div>
  </section>

  <section class="bg-yellow-300 px-5 py-10 md:mt-20 md:py-20 lg:min-h-90 xl:min-h-120">
    <div class="conteiner-center">
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <div class="relative">
          <img
            class="mx-auto w-full md:absolute md:-ml-60 md:scale-240 lg:-mt-10 lg:-ml-40 lg:scale-150 xl:-mt-20 xl:-ml-50 xl:max-w-3xl 2xl:-ml-30"
            src="/produtos/homem-meio-coracao.png"
            alt="Mimosa Alimentos"
          />
        </div>

        <div class="mt-5 md:my-auto lg:mt-5 xl:mt-9">
          <h1 class="title">Ofereça o melhor em sabor!</h1>
          <p class="paragraph mt-2">Lorem ipsum dolor sit amet consectetur porta iaculis sit et.</p>
          <a class="btn --red mt-5 inline-block w-full lg:w-100" href={MENU_ITEMS.sejaUmCliente.href}
            >Torne-se um cliente Mimosa</a
          >
        </div>
      </div>
    </div>
  </section>

  <Footer />
</Layout>

<style>
  .parallax-container {
    overflow: visible;
    position: absolute;
    pointer-events: none;
  }

  .parallax-img {
    display: block;
    width: 100%;
    height: auto;
    will-change: transform;
  }

  @media (max-width: 1024px) {
    .parallax-container,
    .parallax-img {
      display: none;
    }
  }
</style>
