---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
import { v4 as uuidv4 } from 'uuid';

import ProdutosSlides from '@components/ProdutosSlide';
import type { ISlideProdutos } from '@interfaces/slide-produtos.interface';

const slideLinguicas: ISlideProdutos[] = [
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
];

const slideLinguicaQueijo: ISlideProdutos[] = [
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
];

const slideLinguicaChurrasquita: ISlideProdutos[] = [
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
  {
    id: uuidv4(),
    name: 'Linguiça Du Cheff',
    description: '1 Kg e 5 Kg',
    urlImage: '/produtos/produto.png',
  },
];
---

<Layout>
  <Header />

  <section class="container-center px-5 py-10 md:pb-20">
    <h1 class="title-page mb-10">Produtos</h1>
    <div class="mt-10 mb-5 flex flex-col gap-5 md:mb-0 md:flex-row md:items-center lg:gap-10">
      <div class="mb-5 flex-1/2">
        <img src="/produtos/linguica.png" alt="Linguiça" />
      </div>

      <div class="flex-1/2">
        <h1 class="title">Conheça nossos produtos</h1>
        <p class="paragraph md:mt-3">
          A marca conta com um mix próprio de 20 itens, entre linguiça Toscana, Toscana com Queijo, linguiça fina na
          tripa de carneiro - a famosa churrasquita - e a linha Churrasco, além de também realizar o fracionamento de
          frios com certificação SISBI.
        </p>
      </div>
    </div>

    <div class="-mt-10 flex-initial">
      <ProdutosSlides
        client:visible
        config={{
          breakpoints: {
            0: {
              slidesPerView: 1,
            },
            640: {
              slidesPerView: 2,
            },
            768: {
              slidesPerView: 3,
            },
            1024: {
              slidesPerView: 4,
            },
            1366: {
              slidesPerView: 5,
            },
          },
        }}
        slideProdutos={slideLinguicas}
      />
    </div>
  </section>

  <section class="flex flex-col bg-yellow-300 px-5 pb-10">
    <div class="container-center">
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <div>
          <img class="mx-auto w-75 md:w-full" src="/produtos/linguica-queijo.png" alt="Linguiça com Queijo" />
        </div>

        <div class="my-auto">
          <h1 class="title md:mt-10">Linguiça com queijo</h1>
          <p class="paragraph mt-2">
            O ponto de equilíbrio entre duas grandes delícias da culinária. A fórmula precisamente calculada para
            garantir o sabor perfeito da mistura da linguiça com queijo.
          </p>

          <ProdutosSlides
            client:visible
            config={{
              breakpoints: {
                0: {
                  slidesPerView: 1,
                },
                640: {
                  slidesPerView: 2,
                },
              },
            }}
            slideProdutos={slideLinguicaQueijo}
          />
        </div>
      </div>
    </div>
  </section>

  <section class="container-center px-5 pb-10">
    <div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:[direction:rtl]">
      <div class="relative">
        <img class="mx-auto w-50 md:w-full" src="/produtos/linguica-churrasquita.png" alt="Linguiça Churrasquita" />
        <div
          class="absolute right-1 -bottom-0 flex h-35 w-35 scale-75 rotate-30 items-center justify-center rounded-full bg-red-800 md:right-20 md:-bottom-40 md:scale-130 lg:-bottom-30 lg:scale-160"
        >
          <p class="text-sm font-bold text-yellow-300 uppercase">A favorita <br />do público</p>
        </div>
      </div>
      <div class="my-auto text-left">
        <h1 class="title md:mt-10">Linguiças Churrasquita</h1>
        <p class="paragraph mt-2">A linguiça fininha, feita especialmente para quem aprecia um sabor especial.</p>

        <ProdutosSlides
          client:visible
          config={{
            breakpoints: {
              0: {
                slidesPerView: 1,
              },
              640: {
                slidesPerView: 2,
              },
            },
          }}
          slideProdutos={slideLinguicaChurrasquita}
        />
      </div>
    </div>
  </section>

  <section class="bg-yellow-300 px-5 py-10 md:mt-20 md:py-20 lg:min-h-90 xl:min-h-120">
    <div class="conteiner-center">
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <div class="relative">
          <img
            class="mx-auto w-full md:absolute md:-ml-60 md:scale-240 lg:-mt-10 lg:-ml-40 lg:scale-150 xl:-mt-20 xl:-ml-50 xl:max-w-3xl 2xl:-ml-30"
            src="/produtos/homem-meio-coracao.png"
            alt="Mimosa Alimentos"
          />
        </div>

        <div class="mt-5 md:my-auto lg:mt-5 xl:mt-9">
          <h1 class="title">Ofereça o melhor em sabor!</h1>
          <p class="paragraph mt-2">Lorem ipsum dolor sit amet consectetur porta iaculis sit et.</p>
          <a class="btn --red mt-5 inline-block w-full lg:w-100" href="#">Torne-se um cliente Mimosa</a>
        </div>
      </div>
    </div>
  </section>

  <Footer />
</Layout>
