---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Video from '@components/Video.astro';
import type { IMenu } from '@interfaces/menu.interface';
import Layout from '@layouts/Layout.astro';
import { MENU_ITEMS } from '@utils/menu.contants';

const {
  items = [
    {
      label: MENU_ITEMS.clienteVantagens.label,
      href: MENU_ITEMS.clienteVantagens.href,
    },
    {
      label: MENU_ITEMS.clienteCadastreSe.label,
      href: MENU_ITEMS.clienteCadastreSe.href,
    },
    {
      label: MENU_ITEMS.clienteComoRealizarPedidos.label,
      href: MENU_ITEMS.clienteComoRealizarPedidos.href,
    },
    {
      label: MENU_ITEMS.clienteContato.label,
      href: MENU_ITEMS.clienteContato.href,
    },
  ],
}: IMenu = Astro.props;
---

<Layout>
  <Header menuSejaCliente={true} menuItems={items} />

  <main>
    <section class="bg-[url('/seja-um-cliente/bg-01.png')] bg-cover bg-center bg-no-repeat px-5">
      <div class="container-center">
        <div class="flex h-[400px] items-center justify-end lg:-mt-37 lg:h-[900px] lg:bg-top">
          <div class="max-w-80 text-right text-white md:text-left lg:max-w-150">
            <h1 class="text-2xl leading-7 font-bold lg:text-4xl lg:leading-9">
              Quer ter produtos de <br /> sucesso na sua prateleira?
            </h1>
            <p class="mt-3 text-sm leading-4">
              Seja um cliente Mimosa e ofereça qualidade, sabor e confiança todos os dias
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="">
      <Video
        description="Conheça mais sobre nosso produto"
        title="Seja um cliente"
        videoUrl="/home/video-encontre-fornecedores.mp4"
      />
    </section>

    <section class="bg-yellow-300 px-5 py-10 lg:py-30">
      <div class="mx-auto max-w-5xl">
        <div class="flex flex-col items-center">
          <h2 class="title text-center">Faça o seu cadastro e torne-se um cliente Mimosa!</h2>
          <p class="paragraph my-8 text-center">
            Lorem ipsum dolor sit amet consectetur. Eget proin morbi volutpat nullam dignissim adipiscing. Viverra sed
            elementum mi risus nunc viverra mattis.
          </p>

          <form class="md:text-md w-full text-sm">
            <h4 class="mb-2 text-lg font-semibold text-red-800">Dados da empresa</h4>
            <div class="grid grid-cols-1 gap-2 md:grid-cols-5">
              <div class="col-span-1 md:col-span-2">
                <input class="input" name="razaoSocial" type="text" placeholder="Razão social" />
              </div>
              <div class="col-span-1 md:col-span-2">
                <input class="input" name="nomeFantasia" type="text" placeholder="Nome fantasia" />
              </div>
              <div class="col-span-1 md:col-span-1">
                <input class="input" name="cnpj" type="text" placeholder="CNPJ" />
              </div>
            </div>

            <h4 class="mt-5 mb-2 text-lg font-semibold text-red-800">Dados do responsável</h4>
            <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
              <div class="col-span-1">
                <input class="input" name="nomeResponsavel" type="text" placeholder="Nome completo do responsável" />
              </div>
              <div class="col-span-1">
                <input class="input" name="whatsapp" type="text" placeholder="WhatsApp" />
              </div>
            </div>

            <h4 class="mt-5 mb-2 text-lg font-semibold text-red-800">Endereço da empresa</h4>
            <div class="grid grid-cols-1 gap-2 md:grid-cols-6">
              <div class="col-span-1 md:col-span-2">
                <input class="input" name="cep" type="text" placeholder="CEP" />
              </div>
              <div class="col-span-1 md:col-span-3 md:col-start-1">
                <input class="input" name="endereco" type="text" placeholder="Endereço" />
              </div>
              <div class="col-span-1 md:col-span-1">
                <input class="input" name="numero" type="text" placeholder="Número" />
              </div>
              <div class="col-span-1 md:col-span-2">
                <input class="input" name="complemento" type="text" placeholder="Complemento" />
              </div>
              <div class="col-span-1 md:col-span-2">
                <input class="input" name="bairro" type="text" placeholder="Bairro" />
              </div>
              <div class="col-span-1 md:col-span-2">
                <select class="input" name="estado">
                  <option value="" disabled selected>Estado</option>
                </select>
              </div>
              <div class="col-span-1 md:col-span-2">
                <select class="input" name="cidade">
                  <option value="" disabled selected>Cidade</option>
                </select>
              </div>
            </div>

            <div class="mt-5 flex items-start justify-start gap-2">
              <input type="checkbox" id="termos" name="termos" class="translate-y-0.75 xl:translate-y-1.5" />
              <label for="termos" class="paragraph">
                Confirmo a validade das informações e confirmo que li e estou de acordo com o
                <a href="#" class="font-bold">Termos de Uso</a>
                e com as
                <a href="#" class="font-bold">Políticas de Privacidade</a>.
              </label>
            </div>

            <div class="mt-5 flex items-start justify-start gap-2">
              <input
                type="checkbox"
                id="comunicacoes"
                name="comunicacoes"
                class="translate-y-0.75 xl:translate-y-1.5"
              />
              <label for="comunicacoes" class="paragraph">
                Aceito receber comunicações via e-mail, SMS e telefone.
              </label>
            </div>

            <div class="mt-5">
              <button class="btn --red w-full" type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
</Layout>

<Footer />
