---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Video from '@components/Video.astro';
import type { IMenu } from '@interfaces/menu.interface';
import Layout from '@layouts/Layout.astro';
import { MENU_ITEMS } from '@utils/menu.contants';

const {
  items = [
    {
      label: MENU_ITEMS.clienteVantagens.label,
      href: MENU_ITEMS.clienteVantagens.href,
    },
    {
      label: MENU_ITEMS.clienteCadastreSe.label,
      href: MENU_ITEMS.clienteCadastreSe.href,
    },
    {
      label: MENU_ITEMS.clienteComoRealizarPedidos.label,
      href: MENU_ITEMS.clienteComoRealizarPedidos.href,
    },
    {
      label: MENU_ITEMS.clienteContato.label,
      href: MENU_ITEMS.clienteContato.href,
    },
  ],
}: IMenu = Astro.props;
---

<Layout>
  <Header menuSejaCliente={true} menuItems={items} />

  <main>
    <section class="bg-[url('/seja-um-cliente/bg-01.png')] bg-cover bg-center bg-no-repeat px-5">
      <div class="container-center">
        <div class="flex h-[400px] items-center justify-end lg:-mt-37 lg:h-[900px] lg:bg-top">
          <div class="max-w-80 text-right text-white md:text-left lg:max-w-150">
            <h1 class="text-2xl leading-7 font-bold lg:text-4xl lg:leading-9">
              Quer ter produtos de <br /> sucesso na sua prateleira?
            </h1>
            <p class="mt-3 text-sm leading-4">
              Seja um cliente Mimosa e ofereça qualidade, sabor e confiança todos os dias
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="min-h-[400px]">
      <Video
        description="Conheça mais sobre nosso produto"
        title="Seja um cliente"
        videoUrl="/home/video-encontre-fornecedores.mp4"
      />
    </section>
  </main>

  <Footer />
</Layout>
