@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --radius: 10px;

    --yellow-50: #fff8e0;
    --yellow-100: #ffedb0;
    --yellow-200: #ffe17c; 
    --yellow-300: #ffd743;
    --yellow-400: #ffcc00;
    --yellow-500: #ffc300;
    --yellow-600: #ffb500;
    --yellow-700: #ffa100;
    --yellow-800: #ff8f00;
    --yellow-900: #ff6d00;

    --red-50: #ffebec;
    --red-100: #fed3d6;
    --red-200: #fdadb2;
    --red-300: #fc757e;
    --red-400: #fa2635;
    --red-500: #bf0411;
    --red-600: #a9040f;
    --red-700: #8c030d;
    --red-800: #7e050e;
    --red-900: #5f090f;

    --neutral-50: #ffffff;
    --neutral-100: #e9e9e9;
    --neutral-200: #d9d9d9;
    --neutral-300: #c4c4c4;
    --neutral-400: #9d9d9d;
    --neutral-500: #7b7b7b;
    --neutral-600: #555555;
    --neutral-700: #434343;
    --neutral-800: #262626;
    --neutral-900: #000000;

    --font-poppins: 'Poppins', sans-serif;
}


html {
    font-family: var(--font-poppins);
}