@import "../app/css/button/button.mixins.scss";

.section-produtos {
  position: relative;

  > img {
    width: 100%;
    max-width: none;
  }

  .content {
    position: absolute;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    inset: 0;

    h2 {
      color: var(--white);
      max-width: 20rem;
      font-size: 1rem;
      line-height: 1rem;
    }
  }

  button {
    color: var(--secondary);
    @include btnSmall();
  }
}
@media screen and (min-width: 768px) {
  .section-produtos {
    .content {
      button {
        @include btnMedium();
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .section-produtos {
    .content {
      padding: 4rem 2rem;
      h2 {
        font-size: 3rem;
        max-width: 40rem;
        line-height: 3rem;
      }

      button {
        @include btnMedium();
      }
    }
  }
}

.section-cliente {
  background-color: var(--primary);

  .content {
    max-width: var(--max-content-width);
    margin: 0 auto;

    h3 {
      color: var(--secondary);
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

    button {
      @include btnMedium();
      color: var(--primary);
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 768px) {
  .section-cliente {
    .content {
      max-width: 1195px;
      align-items: center;

      h3 {
        font-size: 2rem;
        line-height: 2rem;
      }

      button {
        width: 30%;
      }
    }
  }
}

.section-nossa-historia {
  background-color: var(--secondary);
  background-image: url(/site/home/section-nossa-historia.png);
  background-size: cover;
  background-repeat: no-repeat;

  .content {
    margin: 0 auto;

    h3 {
      font-size: 2rem;
      color: var(--primary);
      font-weight: bold;
    }

    p {
      color: var(--white);
      margin: 1rem 0;
    }

    button {
      @include btnMedium();
    }

    img {
      width: 80%;
    }
  }
}
@media screen and (min-width: 768px) {
  .section-nossa-historia {
    .content {
      h3 {
        font-size: 3rem;
        max-width: 3rem;
        line-height: 3rem;
      }

      p {
        font-size: 2rem;
        line-height: 2rem;
        margin: 2rem 0;
      }

      button {
        @include btnLarge();
      }
    }
  }
}

.section-qualidade {
  background-color: var(--primary);
  position: relative;
  background-image: url("/site/home/section-qualidade.png");
  height: 22rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  text-align: center;

  button {
    @include btnSmall();
    color: var(--black);
    font-size: 0.75rem;
  }

  p {
    font-size: 1rem;
  }

  img {
    width: 100%;
    margin: 0 auto;
  }

  .content {
    max-width: var(--max-content-width);
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
  }
}
@media screen and (min-width: 768px) {
  .section-qualidade {
    height: 38rem;

    p {
      font-size: 1.25rem;
    }

    button {
      @include btnMedium();
      font-size: 1rem;
    }

    img {
      width: 50%;
    }

    .content {
      align-items: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .section-qualidade {
    height: 46rem;
  }
}

.section-onde-encontrar {
  position: relative;
  overflow: hidden;
  height: 22rem;
  background-color: var(--secondary);

  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.25;
  }

  .content {
    max-width: var(--max-content-width);
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100%;

    .card {
      text-align: center;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 60px;
        margin: 0 auto;
      }

      button {
        @include btnSmall();
      }

      h3 {
        color: var(--primary);
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .section-onde-encontrar {
    height: 32rem;
    .content {
      .card {
        button {
          @include btnMedium();
        }
      }
    }
  }
}
