---
import type { IHeaderMenu } from '@interfaces/header.interface';
import Menu from './Menu.astro';
import Social from './Social.astro';

const { menuItems, menuShowItemSejaUmCliente }: IHeaderMenu = Astro.props;
---

<header class="container-center bg-red-800 p-5 lg:bg-transparent">
  <button
    id="header-toggle-btn"
    class="absolute top-2 right-2 z-10 w-7 cursor-pointer lg:hidden"
    aria-label="Header Button Toggle"
  >
    <img src="burger-menu-right.svg" alt="Header Button Toggle" />
  </button>

  <div
    class="flex flex-col items-center justify-center rounded-3xl bg-transparent lg:w-full lg:flex-row lg:justify-between lg:bg-red-800 lg:px-8 lg:py-7"
  >
    <a href="/">
      <img class="w-38" src="/logo-mimosa-white.svg" alt="Logo Mimosa Alimentos" />
    </a>

    <div class="header-toggle-content hidden lg:block">
      <Menu items={menuItems} showItemSejaUmCliente={menuShowItemSejaUmCliente} />
    </div>

    <div class="header-toggle-content hidden lg:block">
      <Social />
    </div>
  </div>
</header>

<script is:inline>
  function checkIsMobile() {
    return window.innerWidth <= 1024;
  }

  let contents = [];
  const isMobile = checkIsMobile();
  let isOpen = isMobile;

  document.addEventListener('DOMContentLoaded', () => {
    initializeToggleContent();
  });

  function initializeToggleContent() {
    const btn = document.getElementById('header-toggle-btn');
    contents = document.getElementsByClassName('header-toggle-content');

    shouldShowMenu();

    btn.addEventListener('click', () => {
      shouldShowMenu();
    });
  }

  function shouldShowMenu() {
    isOpen = !isOpen;

    for (const content of contents) {
      if (isOpen) {
        content.classList.add(['block']);
        content.classList.remove('hidden');
      } else {
        for (const content of contents) {
          content.classList.remove('block');
          content.classList.add('hidden');
        }
      }
    }
  }
</script>
