---
import type { IMenu } from '@interfaces/menu.interface';

const {
  items = [
    {
      label: 'Institucional',
      href: '/institucional',
    },
    {
      label: 'Produtos',
      href: '/produtos',
    },
    {
      label: 'Onde Encontrar',
      href: '/onde-encontrar',
    },
    {
      label: 'Contato',
      href: '/contato',
    },
  ],
  showItemSejaUmCliente = true,
}: IMenu = Astro.props;

const itemSejaUmCliente = {
  label: 'Seja um Cliente',
  href: '/seja-um-cliente',
};
---

<nav class="my-7 font-semibold lg:my-0">
  <ul class="flex flex-col items-center gap-4 text-sm md:gap-6 lg:flex-row lg:gap-10 xl:gap-15">
    {
      items?.map((item) => (
        <li class="text-white">
          <a href={item.href}>{item.label}</a>
        </li>
      ))
    }
    {
      showItemSejaUmCliente && (
        <li class="rounded-xl bg-white px-4 py-2 text-red-800">
          <a href={itemSejaUmCliente.href}>{itemSejaUmCliente.label}</a>
        </li>
      )
    }
  </ul>
</nav>
