---
import type { IMenu, IMenuItem } from '@interfaces/menu.interface';
import { MENU_ITEMS } from '@utils/menu.contants';

const {
  items = [
    {
      label: MENU_ITEMS.institucional.label,
      href: MENU_ITEMS.institucional.href,
    },
    {
      label: MENU_ITEMS.produtos.label,
      href: MENU_ITEMS.produtos.href,
    },
    {
      label: MENU_ITEMS.ondeEncontrar.label,
      href: MENU_ITEMS.ondeEncontrar.href,
    },
    {
      label: MENU_ITEMS.contato.label,
      href: MENU_ITEMS.contato.href,
    },
  ],
  showItemSejaUmCliente = true,
}: IMenu = Astro.props;

const itemSejaUmCliente: IMenuItem = {
  label: MENU_ITEMS.sejaUmCliente.label,
  href: MENU_ITEMS.sejaUmCliente.href,
};
---

<nav class="my-7 font-semibold lg:my-0">
  <ul class="flex flex-col items-center gap-4 text-sm md:gap-6 lg:flex-row lg:gap-10 xl:gap-15">
    {
      items?.map((item) => (
        <li class="text-white transition hover:text-yellow-500">
          <a href={item.href}>{item.label}</a>
        </li>
      ))
    }
    {
      showItemSejaUmCliente && (
        <li>
          <a
            class="rounded-xl bg-white px-4 py-2 text-red-800 transition hover:bg-yellow-500"
            href={itemSejaUmCliente.href}
          >
            {itemSejaUmCliente.label}
          </a>
        </li>
      )
    }
  </ul>
</nav>
