---
import type { ISocial } from '@interfaces/social';

const {
  iconColor = 'yellow',
  iconWithBackground = false,
  socialNetworks = [
    {
      name: 'Facebook',
      url: 'https://www.facebook.com/mimosaalimentos',
    },
    {
      name: 'Instagram',
      url: 'https://www.instagram.com/mimosaalimentos/',
    },
  ],
}: ISocial = Astro.props;
---

<div class="flex flex-row items-center justify-center gap-4">
  {
    socialNetworks.map((network) => (
      <a href={network.url} target="_blank" class="transition hover:opacity-75">
        <img
          class="max-h-5"
          src={`/social/${network.name.toLowerCase()}-${iconColor}${iconWithBackground ? '-with-bg' : ''}.png`}
          alt={network.name}
        />
      </a>
    ))
  }
</div>
