---
import type { IVideo } from '@interfaces/video.interface';
import { Title } from './Title';

const { description = '', title = '', videoUrl = '', showButtonPlay = true, breadcrumbs = [] }: IVideo = Astro.props;
---

<div
  class="relative flex h-[250px] items-center justify-center bg-black px-5 py-10 md:h-[350px] md:py-20 lg:h-[500px] lg:py-32 xl:h-[700px]"
>
  <video class="absolute inset-0 z-0 h-full w-full object-cover opacity-30" autoplay muted loop playsinline>
    <source src={videoUrl} type="video/mp4" />
    Seu navegador não suporta vídeos em HTML5.
  </video>

  <div class="glightbox relative z-10 flex flex-col items-center text-center text-white">
    {showButtonPlay && <img src="/play.svg" alt="Play" class="max-w-15 cursor-pointer md:max-w-22 lg:max-w-25" />}
    <Title
      title={title}
      inVideo={true}
      breadcrumbs={breadcrumbs.map((breadcrumb) => ({
        label: breadcrumb.label,
        href: breadcrumb.href,
      }))}
    />
    <p class="text-sm lg:text-lg xl:mt-4 xl:text-xl">{description}</p>
  </div>
</div>

<script></script>
