.social-media {
  display: flex;
  gap: 10px;
  background-color: transparent;

  li {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    a.icon {
      width: 30px;
      height: 30px;
      border-radius: 8px;
      font-family: "fontello";
      display: flex;
      justify-content: center;
      align-items: center;

      &.icon-facebook:before {
        content: "\e801";
      }

      &.icon-instagram:before {
        content: "\e802";
      }
    }
  }

  &.header {
    position: absolute;
    top: 10px;
    right: 10px;

    a.icon {
      background-color: transparent;
      color: var(--white);
    }
  }

  &.footer {
    a.icon {
      color: var(--primary);
      background-color: var(--secondary);
    }
  }
}

@media screen and (min-width: 1024px) {
  .social-media {
    &.header {
      position: relative;
      top: 0;
      right: 0;
      a.icon {
        transition: 0.25s all;
        &:hover {
          color: var(--secondary);
        }
      }
    }

    &.footer {
      a.icon {
        transition: 0.25s all;
        &:hover {
          color: var(--white);
        }
      }
    }
  }
}
